.board-bg {
    fill: #bdbaaa;
}

.bar-bg {
    fill: #b68964;
}

.point.odd {
    fill: #223322;
}

.point.even {
    fill: #224422;
}

.checker.black-player {
    fill: black;
}

.checker.white-player {
    fill: ivory;
}
